@layer components {
  /* 기본 폰트 스타일 */
  .text-title {
    font-size: var(--size-title-03);
    line-height: var(--lh-title-03);
    font-weight: var(--weight-semibold);
    letter-spacing: var(--tracking-normal);
  }
  .text-sub-title {
    font-size: var(--size-sub-title);
    line-height: var(--lh-sub-title);
    font-weight: var(--weight-semibold);
    letter-spacing: var(--tracking-normal);
  }
  .text-body {
    font-size: var(--size-body);
    line-height: var(--lh-body);
    font-weight: var(--weight-semibold);
    letter-spacing: var(--tracking-tight);
  }
  .text-small {
    font-size: var(--size-small);
    line-height: var(--lh-small);
    font-weight: var(--weight-medium);
    letter-spacing: var(--tracking-normal);
  }
  .text-caption {
    font-size: var(--size-caption);
    line-height: var(--lh-caption);
    font-weight: var(--weight-regular);
    letter-spacing: var(--tracking-normal);
  }
  /* Display 폰트 스타일 */
  .text-display-01 {
    font-family: var(--font-system);
    font-size: var(--size-title-01);
    line-height: var(--lh-title-01);
    letter-spacing: var(--tracking-normal);
  }
  .text-display-02 {
    font-family: var(--font-system);
    font-size: var(--size-title-02);
    line-height: var(--lh-title-02);
    letter-spacing: var(--tracking-normal);
  }
  .text-display-03 {
    font-family: var(--font-system);
    font-size: var(--size-title-03);
    line-height: var(--lh-title-03);
    letter-spacing: var(--tracking-normal);
  }
  /* Letter 폰트 스타일 */
  .text-letter-base {
    font-family: var(--font-letter-base);
    font-size: var(--size-sub-title);
    line-height: var(--letter-lh);
    letter-spacing: var(--tracking-normal);
  }
  .text-letter-base-mobile {
    font-family: var(--font-letter-base);
    font-size: var(--size-caption);
    line-height: var(--letter-lh-mobile);
    letter-spacing: var(--tracking-normal);
  }

  .text-letter-night {
    font-family: var(--font-letter-night);
    font-size: var(--size-sub-title);
    line-height: var(--letter-lh);
    letter-spacing: var(--tracking-normal);
  }
  .text-letter-night-mobile {
    font-family: var(--font-letter-night);
    font-size: var(--size-caption);
    line-height: var(--letter-lh-mobile);
    letter-spacing: var(--tracking-normal);
  }

  .text-letter-system {
    font-family: var(--font-letter-system);
    font-size: var(--size-sub-title);
    line-height: var(--letter-lh);
    letter-spacing: var(--tracking-normal);
  }
  .text-letter-system-mobile {
    font-family: var(--font-letter-system);
    font-size: var(--size-caption);
    line-height: var(--letter-lh-mobile);
    letter-spacing: var(--tracking-normal);
  }
}
