/* System Font */

@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 45 920;
  font-style: normal;
}

@font-face {
  font-family: "Ridibatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "MissedSimsim";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/Griun_Simsimche-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@theme {
  /* ================= Base ================= */
  --font-base: "Pretendard", system-ui, "Apple SD Gothic Neo", "Noto Sans KR",
    serif, sans-serif;
  --font-system: "MissedSimsim", system-ui, "Apple SD Gothic Neo",
    "Noto Sans KR", serif, sans-serif;
  /* ================= Letter ================= */
  --font-letter-base: var(--font-base);
  --font-letter-night: "Ridibatang", serif;
  --font-letter-system: var(--font-system);
}
