/* 반응형 + 환경 조건 variant 모음 */

/* md (width >= 48rem) + min-height 700 */
@custom-variant mdh {
  @media (min-width: 768px) and (min-height: 700px) {
    @slot;
  }
}

/* lg (width >= 64rem) + min-height 800 */
@custom-variant lgh {
  @media (min-width: 1024px) and (min-height: 800px) {
    @slot;
  }
}
