@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 45 920;
  font-style: normal;
}

@font-face {
  font-family: "Ridibatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "MissedSimsim";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/Griun_Simsimche-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@theme {
  /* gray 스케일 */
  --color-gray-0: var(--gray-0);
  --color-gray-10: var(--gray-10);
  --color-gray-20: var(--gray-20);
  --color-gray-30: var(--gray-30);
  --color-gray-40: var(--gray-40);
  --color-gray-50: var(--gray-50);
  --color-gray-60: var(--gray-60);
  --color-gray-70: var(--gray-70);
  --color-gray-80: var(--gray-80);

  /* main */
  --color-main: var(--main);
  --color-main-soft: var(--main-soft);
  --color-main-accent: var(--main-accent);
  --color-main-muted: var(--main-muted);

  /* flame */
  --color-flame-0: var(--flame-0);
  --color-flame-30: var(--flame-30);
  --color-flame-60: var(--flame-60);
  --color-flame-100: var(--flame-100);

  /* 폰트 설정 */
  --font-base: "Pretendard", system-ui, "Apple SD Gothic Neo", "Noto Sans KR",
    serif, sans-serif;
  --font-system: "MissedSimsim", system-ui, "Apple SD Gothic Neo",
    "Noto Sans KR", serif, sans-serif;
  /* Letter */
  --font-letter-base: var(--font-base);
  --font-letter-night: "Ridibatang", serif;
  --font-letter-system: var(--font-system);
}

:root {
  font-family: var(--font-base);
  --color-text-base: var(--gray-80);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-base);
  color: var(--color-text-base);

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* 안전장치: 루트는 항상 화면 폭을 먹게 */
#root {
  width: 100%;
  min-height: 100vh;
}
