@import "tailwindcss";
@import "./styles/tokens/variants.css";
@import "./styles/tokens/font.css";
@import "./styles/tokens/type.css";
@import "./styles/tokens/size.css";
@import "./styles/tokens/shadow.css";
@import "./styles/utilities/typography.css";

@theme {
  /* Gray (9-step, white 포함) */
  --color-gray-0: #ffffff;
  --color-gray-5: #fafaf8;
  --color-gray-10: #faf7f2;
  --color-gray-20: #f3efe8;
  --color-gray-30: #e8e2da;
  --color-gray-40: #d8d3cc;
  --color-gray-50: #a6a099;
  --color-gray-60: #6f6f6f;
  --color-gray-70: #4e4e4e;
  --color-gray-80: #2b2b2b;

  /* Main (brand) */
  --color-main: #f58f8a;
  --color-main-disabled: #ffd5d0;
  --color-main-hover: #f08a90;
  --color-main-active: #ec7c84;

  /* Flame (effect / animation) */
  --color-flame-0: #ffd79a;
  --color-flame-30: #ffb74d;
  --color-flame-60: #ff9f1c;
  --color-flame-100: #fff1b3;
}

:root {
  font-family: var(--font-base);
  --color-text-base: var(--gray-80);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Flame (effect / animation) */
  --color-flame-0: #ffd79a;
  --color-flame-30: #ffb74d;
  --color-flame-60: #ff9f1c;
  --color-flame-100: #fff1b3;
}

body {
  font-family: var(--font-base);
  color: var(--color-text-base);

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* 안전장치: 루트는 항상 화면 폭을 먹게 */
#root {
  width: 100%;
  min-height: 100vh;
}
